@import "./scss/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
html,
body {
  height: 100vh;
  font-family: $font-family;
}

html {
  font-size: 62.5%;
}

button {
  padding: 1rem 3rem;
  font-family: $font-family;
  outline: none;
  border: 1px solid #888;
  border: none;
  border-radius: 4px;
  box-shadow: 5px 5px 15px #999;
  transition: 0.2s;
  cursor: pointer;
}
